@import url('https://fonts.googleapis.com/css?family=Product+Sans:100,300,400,500,700,900%7CProduct+Sans+Black');
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

body.light-mode {
  background-color: white;
}

body.dark-mode {
  background-color: black;
}

.parallax {
  height: 35%;
  float: center;
  width: 74%;
  float: right;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("https://www.publicdomainpictures.net/pictures/160000/velka/gouttes-de-pluie-1456095881M4S.jpg");
}

#parallax2 {
  background-image: url("GettyImages-731855603-2ccc0f6.jpg");
}

#parallax3 {
  background-image: url("https://c.pxhere.com/photos/05/15/color_red_yellow_macro_close_up_color_image_horizontal_backgrounds-1180404.jpg!d");
}

h1 {
  font-size: 8vw;
}

.header_div {
  float: right;
  border-radius: 25px 25px 0px 0px;
  padding: 1px;
  text-align: center;
  width: 74%;
  color: white;
}

#header1 {
  background-color: darkblue;
  background-image: linear-gradient(to bottom right, darkblue, lightskyblue);
}

#header2 {
  background-color: dimgrey;
  background-image: linear-gradient(to bottom left, dimgrey, lightgrey);
}

#header3 {
  background-color: firebrick;
  background-image: linear-gradient(to bottom right, firebrick, orange);
}

.header_div.light-mode {
  box-shadow: 10px 10px 5px grey;
}

a:link {
  color: white;
}

#footer_link {
  color: yellow;
}

ul {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 20px;
  width: 25%;
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  height: 98%;
  overflow: auto;
  font-size: 30px;
}

ul.light-mode {
  background-color: silver;
}

ul.dark-mode {
  background-color: #555;
  color: white;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li a.light-mode {
  color: #000;
}

li a.light-mode:active {
  color: black;
}

li a.light-mode:hover:not(.active) {
  background-color: #555;
  color: white;
}

li a.dark-mode {
  color: white;
}

li a.dark-mode:active {
  background-color: #4CAF50;
  color: white;
}

li a.dark-mode:hover:not(.active) {
  background-color: silver;
  color: black;
}

.data {
  float: right;
  padding: 20px;
  width: 74%;
  border-radius: 0px 0px 25px 25px;
  height: 400px;
}

.data.light-mode {
  background-color: gainsboro;
  box-shadow: 10px 10px 5px grey;
}

.data.dark-mode {
  background-color: grey;
  color: white;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  float: right;
  width: 74%;
  border-radius: 25px 25px 25px 25px;
  padding: 10px;
  text-align: center;
}

footer.light-mode {
  background-color: dimgrey;
  color: white;
}

footer.dark-mode {
  background-color:  #333333;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  ul {
    position: relative;
  }

  .header_div, .parallax, ul, .data, footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.value, .units {
  display: inline-block;
}
