@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

header {
  background-color: dimgrey;
  padding: 10px;
  text-align: center;
  font-size: 70px;
  color: white;
}


nav {
  float: left;
  width: 30%;
  background: silver;
  padding: 20px;
  height: 400px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

data {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: gainsboro;
  height: 400px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: dimgrey;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, data {
    width: 100%;
    height: auto;
  }
}

.value, .units {
  display: inline-block;
}
