@import url('https://fonts.googleapis.com/css?family=Product+Sans:100,300,400,500,700,900%7CProduct+Sans+Black');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.parallax1 {
  background-image: url("metofficegovuk heroMedium.jpg");
  height: 300px;
  float: right;
  width: 74.5%;
  border-radius: 25px 25px 25px 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("GettyImages-731855603-2ccc0f6.jpg");
  height: 300px;
  float: right;
  width: 74.5%;
  border-radius: 25px 25px 25px 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("2809_7241_heat-waves.jpg");
  height: 300px;
  float: right;
  width: 74.5%;
  border-radius: 25px 25px 25px 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header1 {
  float: right;
  background-color: darkblue;
  border-radius: 25px 25px 0px 0px;
  padding: 1px;
  text-align: center;
  font-size: 40px;
  width: 74.5%;
  color: white;
}

header2 {
  float: right;
  background-color: dimgrey;
  border-radius: 25px 25px 0px 0px;
  padding: 1px;
  text-align: center;
  font-size: 40px;
  width: 74.5%;
  color: white;
}

header3 {
  float: right;
  background-color: firebrick;
  border-radius: 25px 25px 0px 0px;
  padding: 1px;
  text-align: center;
  font-size: 40px;
  width: 74.5%;
  color: white;
}

ul {
  list-style-type: none;
  float: left;
  margin: 0;
  border-radius: 25px 25px 25px 25px;
  padding: 20px;
  width: 25%;
  background-color: silver;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 30px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

data {
  float: right;
  padding: 20px;
  border-radius: 0px 0px 25px 25px;
  width: 74.5%;
  background-color: gainsboro;
  height: 400px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  float: right;
  width: 74.5%;
  background-color: dimgrey;
  border-radius: 25px 25px 25px 25px;
  padding: 10px;
  text-align: center;
  color: white;
}

.value, .units {
  display: inline-block;
}
